{% extends 'base.html' %}
{% block content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'book delete' pk=object.pk %}">
        <fieldset>
            <legend>Delete Book</legend>
            <div class="container">
            {{ form }}
                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Book</button>
                {% csrf_token %}
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}